/* Stylesheet of basic-website */

* {
    text-decoration: none;
}

.nav {
    color: blue;
    background-color: lightblue;
    
}

nav {
    background-color: lightgreen;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    color: pink;
}

div {
    color: red;
    background-color: blue;
    font-size: 16px;
}

p {
    color: green;
    background-color: yellow;
}

.test-div {
    display: flex;
    justify-content: space-between;
}

select {
    width: 100px;
    height: 100px;
}